body{
    margin:auto;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgb(165, 197, 235) 100%);
}

.container{
    text-align:center;
    margin-top:23px;
}

input{
    font-size:34px;
    border:5px solid gray;
    border-radius:21px;
    height:70px;
    width:456px;
}
button{
    font-size:40px;
    background-color:chartreuse;
    width:102px;
    height:90px;
    border-radius: 17px;
    margin: 6px;
}

.calculator{
    display:inline-block;
    background-color:#126E82;
    padding:23px;
    border-radius:53px;
    border:5px solid gray;
}